:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisoscuro: #666;
    --colorGrisclaro: #ebebeb;
    --colorVerde: #39b54a;
    
    --textoSizeCuerposdetexto: 12px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeDescuentos: 16px;
    --textoSizeDescripciones: 16px;
    --tipografiaGeneral: 'Roboto';
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--tipografiaGeneral);
}
/*HOME | HEADER*/
.home__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--colorAmarillo);
    padding: 20px;
}
.home__header--figure{
    width: 50%;
}
.home__header--section--barrabusqueda{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.home__header--section--barrabusqueda div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home__header--section--barrabusqueda div input{
    display: flex;
    width: 90%;
    border: none;
    padding: 10px 0;
    border-radius: 5px 0 0 5px;
}
.home__header--section--barrabusqueda div button{
    display: flex;
    width: 10%;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
}
.home__header--section--barrabusqueda div button i{
    font-size: 12px;
}

.home__figure--img{
    display: flex;
    width: 100%;
}
.home__figure--img img{
    width: 100%;
}
/*HOME | HEADER | NAV*/
.home__header--nav{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
}
.home__header__nav--section--parrafo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    font-size: var(--textoSizeCuerposdetexto);
}

.home__header__nav--section--opciones{
    display: none;
}
.home__header__nav--section--burger{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0 0 0;
}
.home__header__nav--section--burger div button{
    background-color: var(--colorCeleste);
    border: none;
    padding: 4px 6px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
}
/*HOME | MAIN*/
.home__main{
    display: flex;
    width: 100%;
    background-color: var(--colorGrisclaro);
    justify-content: center;
    flex-wrap: wrap;
}
.home__main__section{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.home__main__section h2{
    width: 100%;
    padding: 10px 0;
    font-size: var(--textoSizeTitulares);
    font-weight: 400;
}
.home__main__section__article{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    height: 350px;
    transition: 400ms;
}
.home__main__section__article img{
    width: 100%;
}
.home__main__section__article--datos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.home__main__section__article--datos hr{
    height: 0;
    width: 100%;
    color: var(--colorGrisoscuro);
    background-color: var(--colorGrisclaro);
    padding: 1px;
}
.home__main__section__article--datos div{
    display: flex;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;
}
.home__main__section__article--datos div i{
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    background-color: #FFF;
    border-radius: 50%;
    transition: 500ms;
    position: absolute;
    right: 20px;
    top: -15px;
}
.home__main__section__article--datos div i:hover{
    transform: rotate(360deg);
}
.home__main__section__article--datos div h2{
    width: 30%;
    font-size: var(--textoSizePrecios);
    padding: 0;
}
.home__main__section__article--datos div span{
    width: 70%;
    font-size: var(--textoSizeDescuentos);
    color: var(--colorVerde);
}

.home__main__section__article h5{
    display: none;
    padding: 5px 0;
    height: 0;
    width: 100%; 
    font-size: var(--textoSizeDescripciones);
    font-weight: 400;
    transition: 5s;
}
.home__main__section__article:hover h5{
    display: block;
    height: 50px;
}
/*HOME | FOOTER*/
.home__footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--colorGrisclaro);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
    margin: none;
    border: none;
}
.home__footer__article{
    display: flex;
    width: 95%;
    background-color: #fff;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 15px;
    border: none;
    margin: none;
}
.home__footer__caja{
    width: 100%;
}
.home__footer--listado h4{
    font-size: var(--textoSizeDescuentos);
    font-weight: 400;
    padding: 5px;
}
.home__footer--listado p{
    font-size: var(--textoSizeCuerposdetexto);
}
.home__footer--listado i{
    color: var(--colorCeleste);
    font-size: var(--textoSizeTitulares);
    padding: 5px;
}
.home__footer--listado:hover i{
    color: var(--colorAmarillo);
}
.home__footer__cajita{
    width: 100%;
}
.home__footer__cajita h6{
    font-size: var(--textoSizeCuerposdetexto);
    font-weight: 500;
    text-align: left;
}

@media (min-width: 768px){
    /*HOME | HEADER*/
    .home__header--figure{
        width: 33%;
    }
    .home__header--section--barrabusqueda{
        width: 33%;
    }
    /*HOME | HEADER | NAV*/
    .home__header__nav--section--burger{
        display: none;
    }
    .home__header__nav--section--parrafo{
        width: 33%;
        font-weight: 400;
    }
    .home__header__nav--section--parrafo div{
        width: 100%;
    }
    .home__header__nav--section--opciones{
        display: flex;
        width: 100%;
        padding-top: 20px;
    }
    .home__header__nav--section--opciones div{
        display: flex;
        width: 100%;
    }
    .home__header__nav--section--opciones div ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .home__header__nav--section--opciones div ul li a{
        display: flex;
        color: black;
        font-size: 12px;
    }

    /*HOME | MAIN*/
    .home__main__section{
        display: flex;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: none;
    }
    .home__main__section__article{
        box-shadow: 3px 5px 10px rgb(100, 100, 100);
        display: flex;
        width: 40%;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none;
        height: 400px;
    }
    .home__main__section__article h5{
        height: 0;
        padding: 0 0 0 5px;
        width: 100%;
        transition: 5s;
    }
    .home__main__section__article:hover h5{
        display: block;
        height: 50px;
    }
    .home__main__section__article--datos div h2{
        padding: 3px;
    }
    .home__main__section__article--datos div span{
        padding: 10px 0 10px 15px;
    }
    /*HOME | FOOTER*/
    .home__footer__article{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .home__footer__caja{
        width: 30%;
    }

    .home__footer--listado:hover i{
        color: var(--colorAmarillo);
    }
}
@media (min-width: 1024px){
    .home__main__section{
        display: flex;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: none;
    }
    .home__main__section__article{
        display: flex;
        width: 24%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: none;
        height: 500px;
    }
    .home__main__section__article h5{
        height: 0;
        padding: 0 0 0 5px;
        width: 100%;
        transition: 5s;
    }
    .home__main__section__article:hover h5{
        display: block;
        height: 50px;
    }
    /*HOME | FOOTER*/
    .home__footer__caja{
        width: 20%;
    }

    .home__footer--listado:hover i{
        color: var(--colorAmarillo);
    }
}